@charset "UFT-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Dancing+Script:wght@400..700&family=Orbitron:wght@400..900&family=Passion+One:wght@400;700;900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Dancing+Script:wght@400..700&family=Great+Vibes&family=Orbitron:wght@400..900&family=Passion+One:wght@400;700;900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bahiana&display=swap');

:root { 
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: "Passion One", sans-serif;
    --fonte3: "Dancing Script", cursive;
    --fonte4: "Bahiana", sans-serif;

}

* {
    margin: 0px;
    padding: 0px;
    font-size: 1em;
}

img {
  max-width: 100%;
  height: auto;
}

html, body {
    min-height: 100vh;
    background-color: darkgray;
    font-family: var(--fonte1);
}

header {
    background-color: #B89B72;
    color: white;
    text-align: center;
}

header > h1 {
    padding-top: 50px;
    /*text-transform: uppercase;  Tudo Maiúsculo*/
    font-variant: small-caps;
    font-family: var(--fonte2);
    font-size: 7vw;
}

header > p {
    padding-bottom: 50px;
}

header a, footer a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

header a:hover, footer a:hover {
    text-decoration: underline;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em; /*Espaçamento Duplo*/
    padding-left: 30px;
    font-family: var(--fonte4);
    font-size: 3.5vw;
}

section > p {
    padding-bottom: 2em;
}

section.normal {
    background-color: white;
    color: black;
}

section.imagem {
    background-color: rgb(44, 44, 44);
    color: white;
    box-shadow: inset 6px 6px 13px 0px black;
    background-size: cover;
    background-attachment: fixed;
}

section.imagem > p {
    display: inline-block; /*Se adapta ao tamanho do conteúdo*/
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.418);
    text-shadow: 1px 1px 0px black;
}

section#img01 {
    background-image: url(Imagens/background-001.jpg);
    background-position: right center;
}

section#img02 {
    background-image: url(Imagens/background-002.jpg);
    background-position: center center;
}

@media(max-width:768px) {
    #img01{
        background-attachment: scroll;
    }
    #img02{
        background-attachment: scroll;
    }
}

footer {
    background-color: #B89B72;
    text-align: center;
    color: white;
    padding: 20px;
}